/* common shared styles */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 140px;
  padding-top: 20px;
  margin-bottom: 0;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
  /* margin-top: 15px; */
}

/* header related styles */

.banner {
  background-color: #e554731a;
  padding: 150px 240px 0px 240px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 32px;
}
.banner .banner-pic {
  width: 600px;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* sale section styles */

.sale-container {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 300px 400px;
  display: flex;
  margin-top: 120px;
  align-items: center;
  justify-content: space-around;
}
.sale-content {
  text-align: center;
}
span {
  color: #e55473;
}
.sale-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.sale-description {
  margin-top: 24px;
  margin-bottom: 32px;
  color: rgba(39, 39, 39, 0.6);

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* instagram section styles */
.insta-images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  margin-right: 25px;
}

/* offer section styles */
.deals {
  background-image: url("../assets/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% 100%;
  border-radius: 5px;
}
.contact {
  text-align: center;
}
.contact input[type="email"],
textarea {
  border-radius: 5px;
  padding: 22px;
  margin: 25px;
  border: 0;
  width: 25%;
}
footer {
  text-align: center;
  background-color: #111010;
  color: rgba(242, 234, 234, 0.482);
  padding-bottom: 100px;
}

.foot-title {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 140px;
  padding-top: 120px;
  margin-bottom: 0;
}
.foot-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
